"*":
  "exception-reporting":
    userId: "1e7c07c8-1053-b7ce-5301-22ffda685250"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    fontSize: 11
  "one-dark-ui":
    layoutMode: "Compact"
  linter: {}
  minimap:
    displayPluginsControls: false
  jumpy:
    fontSize: 1
    highContrast: true
  "highlight-selected": {}
  docblockr: {}
